<div class="container">
  <div class="alert alert-success" role="alert" *ngIf="sucessAlert">
    A new Todo has been successfully submitted
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="alertRemoved">
    A Todo has been succesfully removed
  </div>

  <form [formGroup]="todoForm" (ngSubmit)="submitTodo(todoForm)">
    <div class="form-group">
      <h1 class="text-center text-primary">Todo App</h1>
      <div class="input-group-prepend">
        <input type="text" class="form-control" placeholder="Add Todo" formControlName="todo">
        <button type="submit">Send</button>
      </div>
    </div>
  </form>

  <div class="todo-list">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let todo of todoArray; let position = index">
        <i class="fas fa-edit" (click)="editTodo(todo, position)"></i>
        <i class="fas fa-trash" (click)="removeTodo(todo, position)"></i>
        {{todo}}
      </li>
    </ul>
  </div>
</div>
